.placeholder {
  width: 280px;
  height: 134px;
  line-height: 134px;
  margin: 0 20px 20px 0;
  border: 1px solid #BEDAFC;;
  border-radius: 4px;
  font-size: 17px;
  color: #BEDAFC;
  cursor: default;
  text-align: center;
  background: transparent;
}
